<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>SQL Parser</title>
    <link rel="stylesheet" href="https://raw.githubusercontent.com/TeamBrett/SqlParser/gh-pages/src/SqlParser/wwwroot/app.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
    <script src="http://teambrett.github.io/SqlParser/src/SqlParser/wwwroot/app.js"></script>
</head>
<body ng-app="SqlParserApp" ng-controller="SqlParserCtrl as $ctrl">
    <textarea ng-model="$ctrl.input" ng-change="$ctrl.onInputChange()"></textarea>
    <textarea ng-model="$ctrl.output" readonly="readonly"></textarea>
</body>
</html>
