<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>SQL Parser</title>
    <link rel="stylesheet" href="app.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
    <script src="app.js"></script>
</head>
<body ng-app="SqlParserApp" ng-controller="SqlParserCtrl as $ctrl">
    <input type="text" ng-model="$ctrl.backgroundColor" ng-change="$ctrl.onBackgroundColorChange()" />
    <input type="text" ng-model="$ctrl.fontColor" ng-change="$ctrl.onFontColorChange()" />
    <textarea ng-model="$ctrl.input" ng-change="$ctrl.onInputChange()" ng-style="$ctrl.styles"></textarea>
    <textarea ng-model="$ctrl.output" readonly="readonly" ng-style="$ctrl.styles"></textarea>
</body>
</html>